.topnav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  /* background-color: var(--dark-blue); */
  background-color: var(--main-bg-color);
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 0 30px 0 30px;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  color: var(--light-white);
  z-index: 2;
}

.topnav-toogle-container {
  display: flex;
}

.topnav-toggle-icon {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}

.topnav-actions {
  display: flex;
  align-items: center;
}

.topnav-actions-alert {
  margin-right: 8px;
  border: none;
}

.topnav-actions-alert:hover {
  background-color: #eef2f7;
}

.topnav-actions-user {
  border: none;
}
.topnav-actions-user:hover {
  background-color: #eef2f7;
}

.topnav-notify-wrapper {
  overflow: hidden !important;
}

.TopNavbar-notify-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  border-bottom: 1px solid rgba(57, 72, 103, 0.2);
}

.TopNavbar-notify-header p {
  margin: 0;
  margin-left: 8px;
}

.TopNavbar-notify-header-clear {
  font-size: 12px;
  cursor: pointer;
  color: #af7777;
}
.TopNavbar-notify-header-clear:hover {
  text-decoration: underline;
}

.topnav-actions-alert-counter {
  display: none;
  background-color: red;
  min-width: 10px;
  min-height: 10px;
  padding: 0.5px 2px;
  position: absolute;
  margin-top: -22px;
  margin-left: -2px;
  z-index: 2;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
}

.topnav-actions-alert-counter.visible {
  display: flex;
}

.topnav-actions-user {
  cursor: pointer;
  font-weight: 600;
  margin-left: 8px;
}

.topnav-actions-menu .topnav-actions-user::after {
  content: "";
  position: absolute;
  margin-top: 6.5px;
  margin-left: 4px;
  width: 0;
  height: 0;
  background: transparent;
  border: 4px solid;
  border-top-color: var(--light-white);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.topnav-actions-menu ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  z-index: 3;
  color: black;
}

.topnav-actions-menu-item {
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.topnav-actions-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* .topnav-actions-menu p:hover + #list {
  display: block;
} */
