.CustomModal {
  position: absolute;
  max-width: 90vh;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 82vh;
  /* overflow-y: auto; */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}
