.RecordForm-header {
  text-align: center;
  color: var(--text-black);
}

.RecordForm-header h2 {
  margin: 0;
}

.RecordForm-body {
  margin-top: 24px;
}

.RecordForm-group {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  gap: 4px;
}

.RecordForm-group:last-child {
  margin-top: 24px;
}

.RecordForm-group span {
  font-size: 12px;
}

.RecordForm-group input {
  height: 30px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #757579;
  cursor: pointer;
  padding: 0 12px;
}

.RecordForm-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #2e9cec;
}

.RecordForm-search {
  position: relative;
  /* background-color: red; */
  padding: 8px;
  border-radius: 8px;
  height: 200px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.RecordForm-customers {
  height: 120px;
  overflow-y: scroll;
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  color: var(--dark-blue);
  cursor: pointer
}

.RecordForm-customers li {
  padding: 6px 12px
}

.RecordForm-customers li:hover{
  background-color: #f6f2f2;
}

.RecordForm-search input:first-child {
  height: 30px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #757579;
  cursor: pointer;
  padding: 0 12px;
  box-shadow: none;
  font-weight: 600;
}

.RecordForm-search input {
  box-sizing: border-box;
  border-radius: 25px;
  margin-top: 8px;
  height: 26px;
  width: 100%;
  padding-left: 20px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); */
}

.RecordForm-group button {
  height: 30px;
  background-color: var(--dark-blue);
  border: none;
  color: var(--light-white);
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--anim-3);
}

.RecordForm-group button:hover {
  background-color: #323f5b;
}
