.ErrorModal {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: auto; */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

.ErrorModal:focus,
.ErrorModal:focus-visible {
  border: none;
  outline: none;
}
.ErrorModal:active {
  border: none;
}

.ErrorModal h3 {
  margin: 0;
  font-size: 22px;
  color: #333333;
}

.ErrorModal-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.ErrorModal-body {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}

.ErrorModal .choice-item {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
}

.ErrorModal .choice-item--no {
  color: rgb(16, 127, 255);
}

.ErrorModal .choice-item--yes {
  color: rgb(180, 30, 42);
}

@media screen and (max-width: 768px) {
  .ErrorModal {
    width: 100%;
  }
}
