.login {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  /*padding: 100px 25px 0 25px;*/
  /* padding: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 350px;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: none;
  background-color: var(--light-white);
}

.logo {
  display: flex;
  width: 280px;
  align-self: center;
  margin-bottom: 80px;
}

.logo-no-txt {
  width: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  padding: 4px 0;
}

.form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
  height: 40px;
  border: 0.5px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 8px;
  color: var(--text-down-grey);
  font-weight: 600;
}

.form-input--err {
  border: 2px solid var(--error-red);
  background-color: var(--error-bg-red);
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 3px var(--link-blue);
}

.error-msg {
  font-size: 10px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--error-red);
  text-align: center;
}

.input-error-msg {
  font-size: 10px;
  font-weight: 600;
  color: var(--error-red);
  margin-top: -10px;
}

.btn {
  margin-top: 30px;
  height: 45px;
  background: var(--dark-blue);
  border: none;
  border-radius: 8px;
  color: var(--light-white);
  cursor: pointer;
  transition: all 200ms;
}

.btn:hover {
  background-color: var(--dark-blue-bg);
}

.btn:active {
  background-color: var(--dark-blue-bg);
}

.no-login-label {
  display: block;
  text-align: center;
  margin-top: 8px;
}
.no-login-label a {
  text-decoration: none;
  color: var(--link-blue);
  font-size: 12px;
}

.lan-list-container {
  margin-top: 30px;
}

.lan-list {
  display: block;
  margin: 0 auto;
  border: none;
  color: #9e9e9e;
  font-size: 11px;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .login {
    background-color: var(--light-grey);
  }

  .logo {
    width: 170px;
    margin-bottom: 20px;
  }

  .form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 15px var(--shadow-grey);
  }
}
