.sidebar {
  box-sizing: border-box;
  transition: all var(--anim-4);
  position: fixed;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  padding: 4px 0;
  background-color: var(--dark-blue);
  /* box-shadow: 1px 0 5px rgba(0, 0, 0, 0.8); */
}

.mb-sidebar {
  /* transition: all var(--anim-1); */
  position: fixed;
  background-color: red;
  width: 270px;
  height: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding: 0 12px; */
}

.sidebar-body {
  /* transition: sidebar-content var(--anim-1); */
}

.sidebar-body-list-item span {
  /* animation: logo-animation var(--anim-8); */
  opacity: 1;
}

.sidebar-header {
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  margin-bottom: 70px;
}

.sidebar-logo {
  display: flex;
  width: 220px;
  height: 70px;
  align-self: center;
  /* animation: logo-animation 100ms; */
}

.sidebar-logo-no-txt {
  width: 50px;
  height: 50px;
  /* animation: logo-animation 500ms; */
}

@keyframes logo-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sidebar-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar-footer {
  position: fixed;
  white-space: nowrap;
  text-align: center;
  bottom: 20px;
  font-size: 10px;
  color: var(--text-blue);
}

/* .sidebar-content {
  white-space: nowrap;
} */

.sidebar-body-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-body-list-item {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
  padding: 12px 12px;
  border-radius: 0;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--text-blue);
}

.sidebar-body-list li.active b {
  background-color: #fff;
  height: 10px;
  width: 20px;
  position: absolute;
  width: 100%;
  margin-top: -10px;
}

/* .sidebar-body-list li.active b:last-child {
  z-index: 3;
  margin-top: -12px;
} */

.sidebar-body-list-item.active:before {
  content: "";
  position: absolute;
  margin-top: -65px;
  background-color: var(--dark-blue);
  width: 100%;
  height: 10px;
  border-bottom-right-radius: 6px;
}

.sidebar-body-list-item.active:after {
  content: "";
  position: absolute;
  margin-top: 65px;
  background-color: var(--dark-blue);
  width: 100%;
  height: 10px;
  border-top-right-radius: 6px;
  z-index: 3;
}

.sidebar-body-list-item:hover:not(.active) {
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: aliceblue;
}

.sidebar-body-list-item-icon {
  flex: 30%;
  /* color: var(--text-blue); */
}

.sidebar-body-list-item.active {
  background-color: white;
  color: #7b89a6;
}

.sidebar-body-list-item div {
  justify-content: center;
}

.sidebar-body-list-item span {
  flex: 70%;
  font-size: 14px;
  white-space: nowrap;
  /* color: var(--text-blue); */
}

/* .sidebar-body-list-item a {
  margin-left: 30px;
} */
