.ConfirmModal {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: auto; */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

.ConfirmModal h3 {
  margin: 0;
  font-size: 22px;
  color: #333333;
}

.ConfirmModal-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.ConfirmModal-body {
  font-weight: 400;
  font-size: 16px;
}

.ConfirmModal .choice-item {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
}

.ConfirmModal .choice-item--no {
  color: rgb(16, 127, 255);
}

.ConfirmModal .choice-item--yes {
  color: rgb(180, 30, 42);
}


@media screen and (max-width: 768px) {
   .ConfirmModal {
    width: 100%;
   }
}