.BeneficiaryTypeFile-wrapper {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.BeneficiaryTypeFile-section {
  background-color: transparent;
  flex: 1;
  flex-basis: 300px;
  height: 300px;
}

.BeneficiaryTypeFile-section.left {
  background-color: rgb(252, 252, 255);
  border-radius: 8px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.BeneficiaryTypeFile-section select {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.BeneficiaryTypeFile-section-list {
  width: 100%;
  height: 83%;
  background-color: rgb(252, 252, 255);
  border-radius: 8px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-top: 8px;
}

.BeneficiaryTypeFile-footer button {
  margin-top: 8px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: var(--dark-blue-bg);
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}

.BeneficiaryTypeFile-footer button:hover {
  background-color: #3d4c6d;
}

.BeneficiaryTypeFile-section,
.BeneficiaryTypeFile-section-list {
  box-sizing: border-box;
  padding: 12px;
}

.BeneficiaryTypeFile-section ul,
.BeneficiaryTypeFile-section-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.BeneficiaryTypeFile-section ul li,
.BeneficiaryTypeFile-section-list ul li {
  display: flex;
  flex: 1;
  flex-basis: 170px;
  height: 30px;
  background-color: #e0f0f0;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 2px;
}
