:root {
  --main-bg-color: #fafbff;
  --dark-blue: #394867;
  --dark-blue-bg: #495b81;
  --text-black: #333333;
  --text-down-grey: #3b5867;
  --text-blue: #99a6c1;
  --link-blue: #2196f3;
  --light-sky-blue: #f1f6f9;
  --light-white: #ffffff;
  --light-grey: #fafafa;
  --shadow-grey: #bdbdbd;
  --error-red: #bd6f69;
  --error-bg-red: #fbecec;

  /*Status Colors*/
  --success: #45b26d;
  --warning: #febf34;
  --error: #da5353;

  /*Transitions*/
  --anim-1: 100ms;
  --anim-2: 200ms;
  --anim-3: 300ms;
  --anim-4: 400ms;
  --anim-5: 500ms;
  --anim-6: 600ms;
  --anim-7: 700ms;
  --anim-8: 800ms;
}

body {
  margin: 0;
  padding: 0;
  font-size: 69.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body::-webkit-scrollbar {
  opacity: 1;
  transition: all 0.25s;
} */
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
